{% extends 'base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}

{% block body %}

<main id="homemain">
    <h2 id="hometitle">Vous cherchez une activité en fonction de la météo?</h2>

    <form action="{{ path('app_results') }}" method="post">
        <div class="formulaire">
            <label for="search-city" class="searchCity" id="labelhome">Entrez votre lieu: </label>
            <input type="text" name="searchingCity" id="inputhome" placeholder="Rechercher une ville...">
            <button type="submit" class="btnsearch" id="btnsearch">Go!</button>  
        </div>
    </form>
</main>


{% endblock %}
