.title {
    outline: none;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 45px;
    margin: 20px 0 20px 0;
    background-color: #009200;
    color: #FFEA53;
    font-size: 1.5rem;
    margin-top: 6rem;
  }

  
  .btn-retour {
    margin-top: 0.33rem;
    margin-bottom: 1rem;
    outline: none;
    padding: 5px;
    margin: 158px 0 20px 3rem;
    background-color: #009200;
    color: #FFEA53;
    width: 7%;
    margin-inline-end: auto;
    text-align: center;
}

.activite {
    display: flex;
    justify-content: space-between;
    width: 50%;
    
}

ul.list-activite {
    list-style: disc;
    padding-left: 2rem;
    color: #009200;
    font-size: 600;
    font-size: 2rem;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 40rem;
    background-color: #FFEA53;
}