* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: white;
  }

  img {
    max-width: 100%;
    display: block;
  }
  
  ul {
    list-style: none;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.5rem;
    max-width: 2466px;
    background: #009200;
  }
  
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFEA53;
    padding: 1.5rem;
    margin: 0 50px;
    border: none;
    border-radius: 10px;
  }

  .logo {
    color: #009200;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    max-width: 2466px;
    background: #009200;
  }

  .remerciements {
    display: flex;
    background: #FFEA53;
    border: none;
    border-radius: 10px;
    padding: 1.5rem;
    color: #009200;
  }

  .contact {
    padding-right: 5rem;
    font-size: 1.75rem;
}

.contact a {
  color:#FFEA53;
}
